tmp/*
work/*
tools/tanzaku_conv/original/*
tools/tanzaku_conv/conv/*
tools/config.ftp_html.sh
tools_local/*
website/index.html
passwords/passwords.txt
passwords/passwords.zip
passwords/passwords.gz
rejected_passwords/rpasswords.tanzaku.sha256
workspace.code-workspace
